.cart__border {
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  max-width: 600px;
  margin: auto;
  padding: 16px;
  background-color: #fff;
  margin-bottom: 20px;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.user__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user p {
  color: #757575;
  margin: 0;
}

.user__nameLast{
  display: flex;
  .user-name{
    padding-right: 10px;
  }
}

.draw {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-inline: 10px;
  cursor: pointer;
}

.image {
  width: 100%;
  height: auto;
  margin: 16px 0;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.icon__img {
  width: 24px;
  height: 24px;
  margin-inline: 30px;
  cursor: pointer;
}

.engagement-section {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  border-top: 1px solid #e0e0e0;
}

.avatar {
  background-color: #757575;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 100%;
}

.heading {
  font-family: 'Arial', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-transform: uppercase;
}

.body {
  font-family: 'Georgia', serif;
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  text-align: justify;
  margin-inline: 30px;
  text-align: center;
}


.loading {
  font-size: 30px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}